__pycache__/
.pytest_cache/
.streamlit/
.agents/
.claude/
.vscode/
.venv/
.env
skills-lock.json
.coverage
dist/
build/
*.egg-info/
cache/
*.pyc
*.pyo
*.pyd
*.DS_Store

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
